body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-page-pic {
  width: 100%;
  height: 580px;
  background-image: url("/images/adrian-pelletier-284296-unsplash.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 200px;
}

.description {
  color: white;
  margin: 20px;
  font-size: 40px;
}

/* Disover Page */
.search_filter {
  position: relative;
  top: 50px;
  padding: 40px; 
}

.search_area {
  width: 600px;
  margin: auto;

}
.search-category {
  width: 600px;
  margin: auto;
}

.search-category ul li {
  display: inline;
  margin-left: 16px;
}

/* product list*/
.product-list {
  margin-top: 40px;
}
.card {
  width: 14rem;
  float: left;
  margin: 20px;
}